@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: url("https://github.com/gabcotrim7/projeto-vira-lata/blob/main/assets/folhas-escuras-pixabay.webp?raw=true") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(209, 209, 209, 0.863);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-family: "Lora", sans-serif;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.logo h1 {
  font-size: 2rem;
  color: #2c6b2f;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #2c6b2f;
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  color: #2c6b2f;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
}
